@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Paleta */
  --background: #e3e3e3;
  --surface: #f1f1f1;
  --surface-hover: #f7f7f7;
  --black: #1f1f1f;
  --gray: #5b5b5b;
  --pink: #ff5ca8;
  --pink-light: #ffd8eb;
  --border: #cfcfcf;
  --max-width: 1280px;
}


a {
  text-decoration: none;

  color: inherit;
}

button {
  border: none;

  background: none;

  cursor: pointer;

  font-family: inherit;
}

img {
  display: block;

  max-width: 100%;
}